*, *::before, *::after {
    box-sizing: border-box;
}
.hide {
    display: none;
}
/*Main background, font and font color*/
body {
    background-color: #D9DDDC;
    font-family: 'Spectral', serif;
    color: #222021;
    display: flex;
    flex-direction: column;
}
.logo {
    height: 27vh;
}
/*Flexbox styling*/
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
/*Welcome page styling*/
.welcome-text {
    width: 800px;
    max-width: 80vw;
}
/*Question and answer box styling*/
.game-box {
    width: 850px;
    max-width: 80%;
}
.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 15px;
    margin: 30px 0;
}
/*All buttons styling*/
.btn {
    color: #222021;
    background-color: #D9DDDC;
    border: 1px solid #222021;
    border-radius: 15px;
    padding: 7px 15px;
    outline: none;
}
.btn:hover {
    border: 1px solid #00000050;
}

/*The answer-options div/list styling*/
/* Selected answer styling*/
.selected {
    border:2px solid #222021;
}
/*Correct answer styling*/
.correct {
    background-color: #81996750;
}
/*wrong answer styling*/
.wrong {
    background-color: #ff9b9b50;
}
/*Scoreboard styling*/
.score-board {
    display: flex;
    flex-direction: row;
}
#score {
    display: flex;
}
#total-answered {
    display: flex;
}
/*Footer styling*/
.footer {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    position: relative;
    bottom: 0px;
    margin-right: 5vw;
}
/* make all links stay their font color even when visitet, and remove underscore */
a:link,
a:visited {
    text-decoration: none;
    color: #222021;
}

/*Media queries for smaller screen responsiveness*/
@media only screen and (max-width: 768px) {
  
}