*, *::before, *::after {
    box-sizing: border-box;
}
/*Hiding items before game start*/
.hide {
    display: none;
}
/*Main background, font and font color*/
body {
    background-color: #D9DDDC;
    font-family: 'Spectral', serif;
    color: #222021;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
/*Flexbox styling*/
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
/*Welcome page styling*/
.welcome-text {
    width: 800px;
    max-width: 80vw;
}
/*Question and answer box styling*/
.game-box {
    width: 850px;
    max-width: 80%;
}
.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 25px 0;
}
.btn {
    color: #222021;
    background-color: #D9DDDC;
    border: 1px solid #222021;
    border-radius: 5px;
    padding: 7px 15px;
    outline: none;
}
.btn:hover {
    border-color: black;
}
/*Countdown timer bar*/
.round-time-bar div {
    height: 5px;
    background: linear-gradient(to bottom, #222021, black);
}

.round-time-bar[data-style="smooth"] div {
    animation: roundtime calc(var(--duration) * 1s) linear forwards;
}

@keyframes roundtime {
    to {
        /* More performant than animating `width` */
        transform: scaleX(0);
    }
}

/*The answer-options div/list styling*/
/*Correct answer styling*/
.correct {
    background-color: #81996750;
}
/*Footer styling*/
.footer {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    margin-right: 5vw;
}